.main-home {
  padding: none !important;
}

h1,
h2,
h3,
p,
li {
  max-inline-size: 50ch;
  text-wrap: balance;
  color: #001f3f;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
}

h2,
h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

p {
  font-family: "Taviraj", serif;
  font-weight: 400;
  font-style: normal;
}

section,
header-2 {
  padding-left: clamp(1rem, 3vw, 60px);
  padding-right: clamp(1rem, 3vw, 60px);
}

.clean-image {
  width: clamp(1rem, 100vw, 500px) !important;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  /* section,
  header-2 {
    padding-left: var(--spacing-11);
    padding-right: var(--spacing-11);
    padding-top: var(--spacing-11);
    padding-bottom: var(--spacing-11);
  }

  .main-home {
    padding: none !important;
  } */
}
